<header class="top-header">
  <div class="social-links">
    <a href="https://linkedin.com/in/fabiana-correa-53322127" target="_blank" title="LinkedIn">
      <img src="/images/linkedin.png" alt="LinkedIn">
    </a>
    <a href="https://github.com/fsncorrea-ca" target="_blank" title="GitHub">
      <img src="/images/github.png" alt="GitHub">
    </a>
    <a href="mailto:Fabiana.SouzaDeNobregaCorrea@MyGeorgian.ca" title="Email">
      <img src="/images/email.png" alt="Email">
    </a>
  </div>
</header>


<h1>{{title}}</h1>
<p>Hi there! My name is Fabiana Correa. I’m brazilian, I'm cursing Computer Programing who loves play voleyball and travel with my family. In my free time, you can find me at beach playing voleyball  I’m always open to new experiences and learning new things.</p>

<img src="/images/voleyball.png" alt="leasure" class="profile-image">

<nav class="nav-buttons">
<a href="/"><button>Home</button></a>
<a href="/about"><button>About</button></a>
<a href="/projects"><button>Projects</button></a>
<a href="/contact"><button>Contact</button></a>
</nav>

