
<header class="home-header">
  <h1 class="heading">{{heading}}</h1>
  <p class="name">Fabiana Correa</p>
  <p class="title">SAP MM SPECIALIST </p>
  <img src="/images/fabiana.png" alt="Fabiana Correa" class="profile-photo">
</header>

<section class="career-summary">
  <h2>Career Summary</h2>
  <p>SAP MM Specialist with over 17 years of international experience across the full project lifecycle – from blueprinting, design, configuration, testing, and go-live to post-implementation support and AMS services. Extensive background in SAP ECC and S/4HANA implementations, rollouts, and upgrades, with a proven ability to optimize procurement, inventory, and logistics processes while ensuring regulatory compliance. Experienced in incident and problem management (ServiceNow), driving continuous improvement and process automation. Recognized for leading cross-functional teams, engaging stakeholders, and delivering business value in complex, global environments.</p>
  </section>

{{#if notFound}}
  <div class="alert alert-warning">Page not found</div>
{{/if}}





