<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<p>Add all home content in this html page!</p>
<a href="/"><button>Home</button></a>
<a href="/about"><button>About</button></a>
<a href="/projects"><button>Projects</button></a>
<a href="/contact"><button>Contact</button></a>