<!DOCTYPE html>

<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body class="home-page">

  <header class="top-header">
  <div class="social-links">
    <a href="https://linkedin.com/in/fabiana-correa-53322127" target="_blank" title="LinkedIn">
      <img src="/images/linkedin.png" alt="LinkedIn">
    </a>
    <a href="https://github.com/fsncorrea-ca" target="_blank" title="GitHub">
      <img src="/images/github.png" alt="GitHub">
    </a>
    <a href="mailto:Fabiana.SouzaDeNobregaCorrea@MyGeorgian.ca" title="Email">
      <img src="/images/email.png" alt="Email">
    </a>
  </div>
  </header>

    {{{body}}}

<nav class="nav-buttons">
  <a href="/"><button>Home</button></a>
  <a href="/about"><button>About</button></a>
  <a href="/projects"><button>Projects</button></a>
  <a href="/contact"><button>Contact</button></a>
</nav>

 <!-- Footer -->
    <footer class="site-footer">
      <div class="footer-container">
        <div class="footer-links">
          <a href="https://linkedin.com/in/fabiana-correa-53322127" target="_blank" title="LinkedIn">
            <img src="/images/linkedin.png" alt="LinkedIn">
          </a>
          <a href="https://github.com/fsncorrea-ca" target="_blank" title="GitHub">
            <img src="/images/github.png" alt="GitHub">
          </a>
          
        </div>
        <div class="footer-image">
          <img src="/images/fabiana.png" alt="My Picture">
        </div>
        <p>&copy; 2025 Fabiana Correa</p>
      </div>
    </footer>

  </body>
</html>