<h1 class="text-center mb-4">Work Experience</h1>

<div class="projects-grid">
  <div class="project">
    <img src="/images/abb.png" alt="Project 1">
    <h3>Project SAP ECC Upgrade</h3>
    <p>• Organize calls with business stakeholders to discuss challenges, propose solutions, and align expectations.</p>• Collaborate with key users to identify improvement opportunities and assign the most suitable team member to address specific issues.</p>
    <p>• Act as MM team lead, reporting daily progress and key updates during IT leadership meetings, summarizing the previous days performance and results.</p>
  </div>

  <div class="project">
    <img src="/images/bayer.png" alt="Project 2">
    <h3>Tax developments</h3>
    <p>• Automated the extraction and population of XML invoice data into SAP, streamlining fiscal document handling.</p>
  </div>

  <div class="project">
    <img src="/images/eurochem.png" alt="Project 3">
    <h3>Project Rollout ,SAP S/4 Hanna, Support AMS</h3>
    <p>• Project Upgrade Ecc 6.0 x S/Hana/– Rollout – Oracle x S/Hana</p>
    <p>• Lead daily meetings with the MM team to review individual activities, monitor ServiceNow tickets, and provide follow-up, ensuring timely and effective issue resolution.</p>
    <p>• Act as MM team lead, reporting daily progress and key updates during IT leadership meetings, summarizing the previous day’s performance and results.</p>
  </div>

  <div class="project">
    <img src="/images/Honeywell-Logo.png" alt="Project 4">
    <h3>Projeto Upgrade ECC </h3>
    <p>•	Designed enhancements in Purchase Orders to switch from gross price to net price by adjusting pricing procedures and implementing modifications to support Transportation Management (TM), without relying on tax calculation conditions.</p>
  </div>

  <div class="project">
    <img src="/images/philips.png" alt="Project 5">
    <h3>Projeto convertion ECC to S/4 Hanna</h3>
    <p>• ECC conversion to S/Hana - Activities and execution as per the SAP book- cockpit (MM-SD)..</p>
  </div>

  <div class="project">
    <img src="/images/medtronic.jpg" alt="Project 6">
    <h3>Project SAP ECC Roll out and Upgrade</h3>
    <p>• Analyzed the impact of data model changes and simplifications in S/4HANA for MM, such as the migration from classical tables (MKPF, MSEG) to the new table structure (MATDOC).</p>
    <p>• Conducted workshops and training sessions to educate end-users on new functionalities and changes in MM processes introduced by S/4HANA.</p>
    <p>• Supported the CVI (Customer-Vendor Integration) and material master data harmonization required for S/4HANA compatibility.</p>
  </div>

  <div class="project">
    <img src="/images/whirlpool.png" alt="Project 7">
    <h3>Project UPgrade ECC</h3>
    <p>• Performed GAP analysis between ECC and S/4HANA functionalities, identifying required process adjustments and opportunities for optimization.</p>
    <p>• Supported testing cycles (Unit Test, Integration Test, and UAT) and assisted in training end users on new or modified MM functionalities.</p>
    <p>• Contributed to cutover planning and post-go-live support, ensuring a smooth transition and stabilization of the upgraded environment.</p>
  </div>
</div>