<hr>
<footer>
  <p>© {{year}} My Portfolio</p>
  <p>
    <a href="https://github.com/SEU_USUARIO" target="_blank">GitHub</a> |
    <a href="https://www.linkedin.com/in/SEU_PERFIL" target="_blank">LinkedIn</a>
  </p>
</footer>

