<!DOCTYPE html>
<html>
  <head>
    <title>{{title}} · Serenity Spa</title>

    <!-- CSS do projeto -->
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    >
  </head>

  <body>
    {{> header}}

    <main class="container py-4">
      {{{body}}}
    </main>

    {{> footer}}

    <!-- (Opcional) scripts JS do Bootstrap, se precisar -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="..."
      crossorigin="anonymous"></script>
    -->
  </body>
</html>
